* {
    color: #A9907E;
    background-color: #675D50;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
  
  p {
    color: #F3DEBA;
    font-size: 12px;
  }

  img {
    height: auto;
    width: 450px;
  }

  h1 {
    align-items: center;
    text-align: center;
    margin-bottom: 11px;
  }

  .description {
    text-align: center;
    font-size: 15px;
    margin: 3px;
  }
  .titles {
    color: #ABC4AA;
  }

  li {
    color: #F3DEBA;
    font-size: 13px;
  }

  h4 {
    color: #ABC4AA;
    margin: 0px;
  }

  h6 {
    font-style: italic;
  }

  .preview {
    height: 200px;
    width: auto;
    margin: 30px;
  }

  .flex-container {
    display: flex;
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div {
    background: rgba(169, 144, 126, 0.1);
    height: 400px;
    border-radius: 50px;
    flex: 1;
    margin: 30px;
  }

  .text {
    text-align: center;
    align-items: center;
  }


